/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
}

.policypersistence {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
  background-color: var(--ifm-color-emphasis-100);
}

.policyenforcement {
  padding: 60px 0;
  font-size: 1.3rem;
  justify-content: center;
  line-height: 40px;
}